.amazing {
    background: #FAFAFA;
    padding: 70px 0 70px 164px;
    box-shadow: 50px 130px 100px 0px #00000025;
    margin-right: 15%;
    position: relative;
    top: -200px;
}

.amazing__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    color: #4D533C;
}