.hero-section {
    background-image: url(../../img/hero/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    padding: 40px 40px 40px 0;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    position: relative;
}

.map {
    position: absolute;
    width: 811px;
    top: -37px;
    right: -39px;
}

.hero__prev-next-btn {
    display: flex;
    justify-content: flex-end;
}

.prev-icon,
.next-icon {
    width: 24px;
    height: 20px;
}

.prev__btn {
    margin-right: 21px;
}

.hero__bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: end;
}

.next-btn {
    display: flex;
    justify-content: flex-end;
}

.hero__footer {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.hero__list {
    display: flex;
}