.partners-section {
    position: relative;
    top: -104px;
    display: grid;
}

.partners__list {
    display: flex;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    padding: 0 60px 60px 60px;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    box-shadow: 50px 50px 100px 0px #00000025;

}

.partners__item {
    margin-top: 60px;
    margin-right: 30px;
}

