.servise__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;

    &-line {
        border-bottom: 1px solid #21384218;
        padding-bottom: 150px;

    }
}

.servise__col {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 96px;

    &:last-child {
        margin-right: 0;
    }
}

.servise__uppertitle {
    margin-top: 120px;
    margin-bottom: 29px;
    color: #4D533CE5;
    font-size: 14px;
}

.servise__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: #4D533C;
    width: 99%;
    position: relative;

    &-2 {
        //width: 325px;
        margin-right: 100px;
    }

    &-bg {
        position: relative;
        text-decoration: none;

        &::after {
            position: absolute;
            content: '';
            width: 240px;
            height: 47px;
            background: #FFD7231A;
            left: -8px;
        }
    }
}

.servise__text {
    line-height: 26px;
    color: #21384299;
}

.servise__btn {
    margin-top: 42px;
    display: block;
    color: #D4D6D4;
    text-decoration: underline;
    margin-left: 10px;
    position: relative;

    &:hover.servise__btn::after {
       color: #FFD723;
       border-bottom-color: #FFD723; 
    }

    &:hover {
        color: #FFD723;
     }
 

    &::after {
        position: absolute;
        content: '';
        border: 5px solid transparent;
        border-bottom-color:#D4D6D4;
        left: -9px;
        transform: rotate(90deg);
        bottom: 4px;
    }
}

.servise__comment {
    box-shadow: 0px 100px 100px 0px #00000025;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 120px;
    position: relative;
    //width: 474px;
    padding-right: 10px;

    &-abs {
        position: relative;
        background-color: #FFFFFF;
        //width: 453px;
        padding: 30px;
        font-size: 16px;
        border-radius: 10px;
        top: -100px;
        left: 58px;
        box-shadow: 50px 50px 100px 0px #00000025;
        
        &-1 {
            top: -74px;
            left: -27px;
        }
    }
}

.servise__comment-text {
    font-size: 24px;
    font-style: italic;
    line-height: 40px;
    color: #4D533C;
    width: 99%;

    &-abs {
        font-size: 16px;
    }
}

.servise__comment-icon {
    position: absolute;
    bottom: -10px;
    left: 25px;

    &-abs {
        bottom: -35px;
        left: 5px;
    }
}

.servise__comment-author-info {
    margin: 64px 0 74px 160px;

    &-abs {    
        margin: 16px 0 0 54px;
    }
}

.servise__comment-author-name {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    color: #4D533C;
    margin-bottom: 6px;

    &-abs {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.servise__comment-author-job {
    line-height: 24px;
    color: #152934;

    &-abs {
        font-size: 14px;
    }
}

.servise__img_and_comment {
    position: relative;
}