* {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #171919;
    color: #FFFFFF;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    display: block;
}